---

import Hero from "../components/lading/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sito">

    <Hero title="Pagina 2" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quasi nihil distinctio perspiciatis quia ad at est commodi, mollitia quisquam ex officiis dolorem rem quod reiciendis aspernatur similique, voluptatibus qui odio enim consequuntur incidunt corrupti magni minima! Deleniti, earum. Consequatur ad, asperiores tempora eos tempore sint nisi! Tenetur aliquid natus exercitationem? Nobis nisi dolorem ipsum, minima odio itaque recusandae id voluptate quaerat libero minus voluptas laboriosam necessitatibus enim pariatur sint similique deserunt doloremque culpa maxime fugiat possimus esse saepe. Ea nisi modi fugiat similique excepturi minima perferendis assumenda adipisci numquam, asperiores voluptas enim quam. Accusantium molestiae porro eum vel sapiente."/>

    <h1>About</h1>
    <p></p>
</Layout>